<%- include('partials/header') %>
<h1>Blog Page !!!</h1>
<div class="container d-flex flex-wrap">
<% blogs.forEach(blog => { %>
    <div class="col-md-3 col-sm-6">
        <img src="<%= blog.image %>" alt="blog-image" style="width: 100%;height:150px"/>
        <div>
            <span><%= blog.createdAt.toDateString() %></span>
        </div>
        <h2><%= blog.title %></h2>
        <p><%- blog.body.substring(0,100) %>...</p>
        <a href="/blogs/<%= blog._id %>">Read more</a>
    </div>
<% }) %>
</div>
<%- include('partials/footer') %>


